{% extends 'community/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} - Community
{% endblock %}

{% block main_area %}
    <!-- Page Content-->
    <section>
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="d-flex align-items-center mt-lg-5 mb-4">
                            <img class="img-fluid rounded-circle" src="./img/1_2.PNG" alt="..." width="50" height="50" />
                            <div class="ms-3">
                                <div class="fw-bold text-col"><a href="#">{{ post.author | upper }}</a></div>
                                <div class="text-muted text-col">185cm/67kg</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">

                        <!-- Post content-->
                        <div id="post header">
                            <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder  text-col">{{ post.title }}</h1>
                            <div class="text-muted fst-italic mb-2 text-col">{{ post.created_at }}</div>
                            <a class="badge bg-secondary text-decoration-none link-light text-col" href="https://www.musinsa.com/search/musinsa/integration?type=&q=%EB%AC%B4%ED%83%A0%EB%8B%A4%EB%93%9C">View Brand</a>
                            {% if user.is_authenticated and user == post.author %}
                                <a class="badge bg-secondary text-decoration-none link-light text-col" href="/community/update_post/{{ post.pk }}/">Edit Post</a>
                            {% endif %}
                            </header>
                        </div>

                        <div id="post-area">
                            <!-- Preview img figure-->
                            {% if post.head_image %}
                                <figure class=""><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" width="600" height="400" /></figure>
                            {% else %}
                                <img class="img-fluid rounded" src="http://picsum.photos/seed/{{ post.id }}/800/900" alt="random_image">
                            {% endif %}

                            <!-- Post content-->
                            <section class="mb-5">
                                <br/>
                                <h3 class="fs-5 mb-4 text-col">{{ post.get_content_markdown | safe }}</h3>
                                <h2 class="fw-bolder mb-4 mt-5 text-col">{{ post.hook_text }}</h2>
                                <p class="fs-5 mb-4 text-col"></p>
                                <p class="fs-5 mb-4 text-col"></p>
                                {% if post.file_upload %}
                                    <a href="{{ post.file_upload.url }}" class="btn btn-success" role="button" download>
                                        Download:
                                        {% if post.get_file_ext == 'csv' %}
                                            <i class="fas fa-file-csv"></i>
                                        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                            <i class="fas fa-file-excel"></i>
                                        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                                            <i class="fas fa-file-word"></i>
                                        {% else %}
                                            <i class="far fa-file"></i>
                                        {% endif %}

                                        {{ post.get_file_name }}
                                    </a>
                                {% endif %}
                            </section>

                        </div>


                        <div id="comment-area">
                            <!-- Comments Form -->
                            <div class="my-4 bg-dark text-white">
                                {% if user.is_authenticated %}
                                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm ">확인</button>
                                    </form>
                                {% else %}
                                    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">로그인 후 작성가능합니다.</a>
                                {% endif %}

                            </div>


                            {% if post.comment_set.exists %}
                                {% for comment in post.comment_set.iterator %}
                                    <!-- Single Comment -->
                                    <div class="media mb-4" id="comment-{{ comment.pk }}">
                                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">

                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                {{ comment.author.username }}
                                                &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                                            </h5>
                                            {% if comment.created_at != comment.modified_at %}
                                                <p class="text-muted float-right"><small>Updated: {{ comment.modified_at }}</small></p>
                                            {% endif %}

                                            <h4>{{ comment.content | linebreaks }}</h4>

                                            {% if user.is_authenticated and comment.author == user %}
                                                <div class="float-right">
                                                    <a role="button"
                                                       class="btn btn-xs btn-info float-right"
                                                       id="comment-{{ comment.pk }}-update-btn"
                                                       href="/community/update_comment/{{ comment.pk }}/">
                                                        수정
                                                    </a>
                                                    <a role="button"
                                                       href="#"

                                                       id="comment-{{ comment.pk }}-delete-modal-btn"
                                                       class="btn btn-xs btn-danger"
                                                       data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">
                                                        삭제
                                                    </a>
                                                </div>

                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <del>{{ comment | linebreaks }}</del>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

