<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Always force latest IE rendering engine -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Meta Keyword -->
        <meta name="keywords" content="one page, business template, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>WINBRD 윈비알디</title>
        <link href="./bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/6fe010ed0c.js" crossorigin="anonymous"></script>

        <!--
        Google Fonts
        ============================================= -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <!--
        CSS
        ============================================= -->
        <!-- Fontawesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Animate -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
        <!-- Main Responsive -->
        <link rel="stylesheet" href="css/responsive.css">

        <link rel="stylesheet" href="css/styles1.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    </head>

    <body>
        <body style="background-color:#000000">
            <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <h1 class="navbar-brand">
                        <a href="./index.html"><h2>WINBRD</h2></a>
                    </h1>
                    <!-- /logo -->

                    </div>

                    <!-- main nav -->
                    <nav class="collapse navigation navbar-collapse navbar-right" role="navigation">
                        <ul id="nav" class="nav navbar-nav ">
                            <li class="current"><a href="./raffle.html">Raffle</a></li>
                            <li><a href="./Promotions.html">Promotions</a></li>
                            <li><a href="./Community.html">Community</a></li>
                        </ul>


                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                            </li>
                        </ul>

                    </nav>
                    <!-- Modal -->
                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i>Log In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-Dark btn-block btn-sm"><i class="fa-brands fa-google"></i>Login with Google</button>
                                    <button type="button" class="btn btn-outline-Dark btn-block btn-sm"><i class="fa-solid fa-envelope-open"></i>Login with E-mail</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-Dark btn-block btn-sm"><i class="fa-solid fa-user-plus"></i>Sign up with E-mail</button>
                                </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-Dark">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </header>

        <!-- projects -->

         <!--DEMO01-->
        <section>
            <div class="iab-padding">
                <div class="col-md-7 col-md-offset-2">
                   <h2>아이앱 스튜디오 2022 4th collextion</h2>
                   <div class="h-50"></div>
                   <br>
                   <p>2022 아이앱 스튜디오의 네 번째 발매는 10월, 12월 두 번에 걸쳐 발매 됩니다.</p>
                   <p>이번 10월 발매는 Hodie&Sack 시리즈 입니다.</p>
                   <p>온라인 라플을 통해 발매될 예정입니다.</p>
                   <br>
                   <p>Pigment Hoodie & Sack Series - 149,000원</p>
                   <br>
                   <p>* Color<br>
                    -Black<br>
                    -Coral<br>
                    -Salmon<br>
                    -Apple green
                    </p>
                   <br>
                   <br> <img src="img/iab2.jpeg" alt="" class="img-responsive" style="width:500px;height:600px;">
                   <br>
                   <br> <img src="img/iab3.jpeg" alt="" class="img-responsive" style="width:500px;height:600px;">
                   <br>
                   <br> <img src="img/iab4.jpeg" alt="" class="img-responsive" style="width:500px;height:600px;">
                   <br>
                   <p><a href="https://www.worksout.co.kr/contents/383?airbridge_referrer=airbridge%3Dtrue%26event_uuid%3D640009af-b7ee-4bef-adf5-4f957d6cffa5%26client_id%3Deebf8a75-ca4c-4e2e-8c4d-fc238c2758d4%26short_id%3Dct9ma8%26referrer_timestamp%3D1665892870561%26channel%3Dbraze%26campaign%3Draffle%26tracking_template_id%3Dbddf7b34babb5570a1fc18bace1b4e41%26ad_group%3Diabstudio%26og_tag_id%3D10617292%26routing_short_id%3D9mlc9&utm_source=braze&utm_campaign=raffle"><h2>응모 바로가기</h2></a></p>
                   <br> </div>
           </div>
        </section>




        <!--
        End Fixed Navigation
        ==================================== -->



        <!--
        End #home Slider
        ========================== -->


        <!--
        JavaScripts
        ========================== -->

        <!-- main jQuery -->
        <script src="js/vendor/jquery-1.11.1.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- jquery.nav -->
        <script src="js/jquery.nav.js"></script>
        <!-- Portfolio Filtering -->
        <script src="js/jquery.mixitup.min.js"></script>
        <!-- Fancybox -->
        <script src="js/jquery.fancybox.pack.js"></script>
        <!-- Parallax sections -->
        <script src="js/jquery.parallax-1.1.3.js"></script>
        <!-- jQuery Appear -->
        <script src="js/jquery.appear.js"></script>
        <!-- countTo -->
        <script src="js/jquery-countTo.js"></script>
        <!-- owl carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- WOW script -->
        <script src="js/wow.min.js"></script>
        <!-- theme custom scripts -->
        <script src="js/main.js"></script>
        </body>

    </body>
</html>
