{% extends 'raffle/base.html' %}

{% block head_title %}
    {{ post.title }} - raffle
{% endblock %}

{% block main_area %}


<!-- projects -->
<section>
    <div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">
</br>
</br>
</br>
</br>
                <h1 class="fw-bolder text-col size-50"> Raffle
                    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
                </h1>
                <p class="lead fw-normal text-muted">각 브랜드에서 진행하고 있는 래플, 럭키드로우 정보를 제공합니다.<br>지금 바로 응모하고 행운의 주인공이 되어 보세요 !</p>
            </div>
            {% include 'raffle/footer.html' %}

            <!-- main container -->

            <div class="input-group">
                <form class="find-search-bar-form">
                    <input type="text" class="find-search-bar" placeholder="Search for..." id="search-input">
                    <span class="material-symbols-outlined btn btn-secondary btn-sm" type="button" onclick="searchPost();">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </form>
            </div>

            <div class="main-container portfolio-inner clearfix">

            <select class="option-style1">
                <option>인기순</option>
                <option>최신순</option>
            </select>

<script>
    function searchPost(){
        let searchValue = document.getElementById('search-input').value.trim();
        if (searchValue.length > 1){
            location.href="/raffle/search/" + searchValue + "/";
        }
        else{
            alert('검색어가 너무 짧습니다.');
        }
    };

    document.getElementById('search-input').addEventListener('keyup', function(event){
        if(event.key === 'Enter'){
            searchPost();
        }
    });
</script>

                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">

                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix" data-aos="fade-up">

                        {% for p in post_list %}
                            <div class="col-md-4 col-sm-6  fashion logo">
                                {% if p.head_image %}
                                    <a href="{{ p.get_absolute_url }}" class="portfolio_item"> <img src="{{ p.head_image.url }}" alt="{{ p }} head image" class="img-responsive" style="width:400px;height:350px;"/>
                                        <div class="portfolio_item_hover">
                                            <div class="portfolio-border clearfix">
                                                <div class="item_info"> <span>{{ p.title }}</span> <em>{{ p.hook_text }}</em> </div>
                                            </div>
                                        </div>
                                    </a>
                                {% else %}
                                     <a href="{{ p.get_absolute_url }}" class="portfolio_item"> <img src="https://picsum.photos/seed/{{ p.id }}/400/400" alt="random_image" class="img-responsive" />
                                         <div class="portfolio_item_hover">
                                            <div class="portfolio-border clearfix">
                                                <div class="item_info"> <span>{{ p.title }}</span> <em>{{ p.hook_text }}</em> </div>
                                            </div>
                                        </div>
                                     </a>
                                {% endif %}
                            </div>
                        {% endfor %}

                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    <!-- portfolio -->
                </div>
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
</section>



<hr>
</br>
</br>


    <!-- Pagination -->

    {% if is_paginated %}
        <ul class="pagination justify-content-center my-5">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}



{% endblock %}
