{% extends 'raffle/base.html' %}

{% block head_title %}
    {{ post.title }} - raffle
{% endblock %}

{% block main_area %}


<!-- projects -->
<section>
    <div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">
                <h1 class="size-50"> Raffle</h1>
            </div>
            <!-- main container -->

            <form class="find-search-bar-form">
                <div class="display-flex-center position-relative">
                    <input class="find-search-bar" placeholder="검색하기" />
                    <span class="material-symbols-outlined">
                        Search
                    </span>
                </div>
            </form>

            <div class="main-container portfolio-inner clearfix">

            <select class="option-style1">
                <option>인기순</option>
                <option>최신순</option>
            </select>

                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">

                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix" data-aos="fade-up">

                        {% for p in post_list %}
                            <div class="col-md-4 col-sm-6  fashion logo">
                                {% if p.head_image %}
                                    <a href="{{ p.get_absolute_url }}" class="portfolio_item"> <img src="{{ p.head_image.url }}" alt="{{ p }} head image" class="img-responsive" />
                                        <div class="portfolio_item_hover">
                                            <div class="portfolio-border clearfix">
                                                <div class="item_info"> <span>{{ p.title }}</span> <em>{{ p.content }}</em> </div>
                                            </div>
                                        </div>
                                    </a>
                                {% else %}
                                     <a href="{{ p.get_absolute_url }}" class="portfolio_item"> <img src="https://picsum.photos/seed/{{ p.id }}/800/900" alt="random_image" class="img-responsive" />
                                         <div class="portfolio_item_hover">
                                            <div class="portfolio-border clearfix">
                                                <div class="item_info"> <span>{{ p.title }}</span> <em>{{ p.content }}</em> </div>
                                            </div>
                                        </div>
                                     </a>
                                {% endif %}
                            </div>
                        {% endfor %}

                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    <!-- portfolio -->
                </div>
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
</section>

{% endblock %}
