{% extends 'raffle/base.html' %}

{% block head_title %}
    {{ post.title }} - raffle
{% endblock %}

{% block main_area %}


<section>
    <div class="iab-padding">
        <div class="col-md-7 col-md-offset-2">
</br>
</br>
            <h1 class="fw-bolder text-primary mb-3" style="margin:70px;">{{ post.title }}</h1>
            <div class="h-50"></div>
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-right" href="/raffle/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>Edit Post</a>
            {% endif %}
            <br>
            <h4 class="text-col mb-3">{{ post.hook_text }}</h4>
            <br>
            <h5 class="text-col mb-3">{{ post.get_content_markdown | safe }}</h5>
            <br>
            <br>
            <!--Preview Image-->
            {% if post.head_image %}
                <img src="{{ post.head_image.url }}" alt="{{ post.title }}" class="img-responsive" style="width:500px;height:450px;">
                <br>

            <!--    <br>
                <h5 class="text-col mb-3">{{ post.get_images_markdown | safe }}</h5>
                 <br>  --!>
            {% else %}
                <img class="img-responsive" src="http://picsum.photos/seed/{{ post.id }}/500/600" alt="random_image">
            {% endif %}


           <p><a href="{{ post.link }}"><h4 class="fw-bolder">응모 바로가기</h4></a></p>
           <br>
           <br>
           <br>

        </div>
    </div>
</section>
{% endblock %}