{% extends 'community/base.html' %}

{% block head_title %}
    {{ post.title }} - promotion
{% endblock %}

{% block main_area %}
<section>
    <div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">
                <h1 class="fw-bolder text-col size-50"> Promotions
                    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
                </h1>
                <p class="lead fw-normal text-muted">각 브랜드에서 진행하고 있는 다양한 신상품, 세일, 이벤트 정보 등을 제공합니다.</p>
            </div>
        </div>


            <!-- main container -->
            <div class="input-group">
                <form class="find-search-bar-form">
                    <input type="text" class="find-search-bar" placeholder="Search for..." id="search-input">
                    <span class="material-symbols-outlined btn btn-secondary btn-sm" type="button" onclick="searchPost();">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </form>
            </div>




            <div class="main-container portfolio-inner clearfix">

            <select class="option-style1">
                <option>인기순</option>
                <option>최신순</option>
            </select>

<script>
    function searchPost(){
        let searchValue = document.getElementById('search-input').value.trim();
        if (searchValue.length > 1){
            location.href="/promotions/search/" + searchValue + "/";
        }
        else{
            alert('검색어가 너무 짧습니다.');
        }
    };

    document.getElementById('search-input').addEventListener('keyup', function(event){
        if(event.key === 'Enter'){
            searchPost();
        }
    });
</script>

{% load static %}
<link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
<link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
<link href="{% static 'https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap' %}" rel="stylesheet">


    <!-- Page Content -->
    <div class="container">
        <section>
            {% for p in post_list %}
                <!-- Project One -->
                <div class="col">
                    <div class="col-md-7">
                        {% if p.head_image %}
                            <a href="{{ p.link }}" style="width:650;height:300px;">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ p.head_image.url }}" alt="">
                            </a>
                        {% else %}
                            <a href="{{ p.link }}">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://picsum.photos/seed/{{ p.id }}/650/300" alt="random_image" >
                            </a>
                        {% endif %}
</br>
</br>
</br>
                    </div>

                        <div class="col-md-5">
                        <h3 class="fw-bolder text-col mb-3">{{ p.title }}</h3>

                        <h6 class="text-col mb-3" style="font-family: 'Nanum Brush Script', cursive;">{{ p.get_content_markdown | safe }}</h6>

                    {% if p.link2 %}
                        <p><a href="{{ p.link2 }}"><h5 class="fw-bolder" alt="">이벤트 바로가기</h5></a></p>
                    {% endif %}
                    </div>
                </div>
                </br>
                </br>
            {% endfor %}

        </section>
    </div>
</br>
<hr>
</br>
</br>

        {% if is_paginated %}
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Older</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

</section>

{% endblock %}




