{% extends 'community/base.html' %}

{% block head_title %}
    {{ post.title }} - promotion
{% endblock %}

{% block main_area %}

    <section>
        <div class="section" id="projects">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="size-50"> Promotions</h1>
                </div>
                <!-- main container -->

                <form class="find-search-bar-form">
                    <div class="display-flex-center position-relative">
                        <input class="find-search-bar" placeholder="검색하기" />
                        <span class="material-symbols-outlined">
                            Search
                        </span>
                    </div>
                </form>

                <div class="main-container portfolio-inner clearfix">

                <select class="option-style1">
                    <option>인기순</option>
                    <option>최신순</option>
                </select>

    <section>


        <!-- Page Content -->
        <div class="container">
            <section>
                <!-- Project One -->
                <div class="row">
                    <div class="col-md-7">
                    <a href="https://www.nike.com/kr/w/psg-aurdi">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="./img/p_jordan.PNG" width="650" height="300" alt="">
                    </a>
                    </div>
                    <div class="col-md-5">
                    <h3>조던 X 파리 생제르맹 컬렉션</h3>
                    <p>스포츠와 스트리트 룩의 만남.<br>새로운 조던 X 파리 생제르맹 컬렉션을 만나보세요.</p>
                    <a class="btn btn-Dark" href="#"></a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Two -->
                <div class="row">
                    <div class="col-md-7">
                    <a href="https://www.adidas.co.kr/outdoor">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="./img/p_adidas.PNG" width="650" height="300" alt="">
                    </a>
                    </div>
                    <div class="col-md-5">
                    <h3>FREEHIKER 2 GTX</h3>
                    <p>정상은 산 위에만 있는 것이 아니잖아.<br> Terrex Freehiker 2 고어텍스 등산화와 함께 떠나는 Summit 여행</p>
                    <a class="btn btn-Dark" href="#"></a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Three -->
                <div class="row">
                    <div class="col-md-7">
                    <a href="https://www.nike.com/kr/running/shoe-finder">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="./img/p_nike.PNG" width="650" height="300" alt="">
                    </a>
                    </div>
                    <div class="col-md-5">
                    <h3>나이키 러닝화 가이드</h3>
                    <p>여러분에게 맞는 최적의 러닝화를 찾아보세요!<br> 여러분이 어떤 러닝의 여정에 있더라도, 모든 러닝은 좋은 러닝화로부터 시작됩니다.
                    하지만 자신에게 꼭 맞는 러닝화를 찾기까지 많은 노력이 칠요합니다. 다양한 러너들의 이야기를 담아 더욱 편안한 러닝을 도와주는 나이키의 러닝화 가이드를 만나보세요.</p>
                    <a class="btn btn-Dark" href="#"></a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Project Four -->
                <div class="row">

                    <div class="col-md-7">
                    <a href="https://www.nbkorea.com/collection/classicjogger.action">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="./img/p_newbanrance.PNG" width="650" height="300" alt="">
                    </a>
                    </div>
                    <div class="col-md-5">
                    <h3>They don't get old. <br> Just more classic</h3>
                    <p>각 시대를 대표하는 뉴발란스의 아이코닉 스타일. <br>
                    시간이 지날수록 가치를 더하는 클래식한 매력과 함께 최상의 편안함을 제공하는 뉴발란스의 스테디셀러입니다.</p>
                    <a class="btn btn-Dark" href="#"></a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Pagination -->
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>

                </div>


            </section>

        </div>

    </section>

{% endblock %}


